body {
  background-image: url(./img/4K-Red-HD-Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  position: absolute;
  width: 250px;
  height: 140px;
  background-color: #c21718;
  border-radius: 50%;
  color: aliceblue;
  font-size: x-large;
  cursor: pointer;

}

button:active {
  background-color: #270001;
}



#text {
  font-size: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  width: 800px;
  height: 200px;
  position: absolute;
  left: 28%;
  top: 50px;
  color: #c21718;
  text-shadow: 2px 2px 5px red;
}



#cont {
  position: absolute;
  width: 200px;
  height: 50px;
  background-color: brown;
  border: 2px solid black;
  top: 210px;
  left: 140px;
  border-radius: 80%;
}

#word {
  position: relative;
  text-align: center;
  color: white;
  font-size: 30px;
  bottom: 20px;
}

#area {
  width: 480px;
  height: 480px;
  background-color: #331010;
  position: absolute;
  left: 30%;
  top: 14%;
  display: none;
}

#one {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 50px;
  background-color: brown;
  border: 2px solid black;
  text-align: center;
  color: white;
  cursor: pointer;

 
}

#two {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 50px;
  background-color: brown;
  border: 2px solid black;
  left: 228px;
  text-align: center;
  color: white;
  cursor: pointer;
}

#thre {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 50px;
  background-color: brown;
  border: 2px solid black;
  top: 426px;
  right: 256px;
  text-align: center;
  color: white;
  cursor: pointer;
}

#four {
  display: inline-block;
  position: absolute;
  width: 120px;
  height: 50px;
  background-color: brown;
  border: 2px solid black;
  top: 426px;
  left: 356px;
  text-align: center;
  color: white;
  cursor: pointer;
}

.word1 {
  position: relative;
  text-align: center;
  color: white;
}

#time {
  position: absolute;
  width: 180px;
  height: 80px;
  background-color: rgb(36, 124, 51);
  font-size: 35px;
  text-align: center;
  border-radius: 50%;
  display: none;
}

#time1 {
  position: relative;
  text-align: center;
  font-size: 35px;
  color: white;
  bottom: 32px;
}

/* ========================= True False ================= */

#truefolsediv {
  position: absolute;
  width: 280px;
  height: 200px;
  left: 75%;
  top: 5px;
  display: none;
}

#truediv {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-size: 20px;
  width: 140px;
  height: 200px;
  border: 2px solid green;
  border-radius: 20%;
}

#folsediv {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  text-align: center;
  position: relative;
  left: 140px;
  bottom: 204px;
  width: 140px;
  height: 200px;
  border: 2px solid red;
  border-radius: 20%;
}

#true {
  color: green;
  font-size: 40px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#folse {
  color: red;
  font-size: 40px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}


#by {
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  width: 600px;
  height: 50px;
  position: absolute;
  left: 55%;
  top: 88%;
  color: #c21718;
  text-shadow: 2px 2px 5px red;
text-align: center;
}